header {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 115px;
  }
  .top-bar {
    height: 120px;
    background-color: #ffcd00;
    z-index: 10;
    .promo-button {
      height: 35px;
      color: #273c48;
      border-color: #273c48;
    }
    .promo-button:hover {
      background-color: #273c48;
      color: #fff;
    }
    h2 {
      font-family: "Nunito", sans-serif;
      margin-bottom: 15px;
    }
  }
  div.professionals {
    margin-top: 200px;
    height: 430px;
    text-align: center;
    h2 {
      span {
        color: red;
      }
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
      margin-bottom: 5rem;
    }
    img {
      width: 175px;
      height: 175px;
    }
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

@media only screen and (max-width: 600px) {
  header {
    .sticky {
      max-width: 100%;
      margin-top: 130px;
      h2 {
        margin-bottom: 5px;
        padding-left: 12px;
      }
      button {
        margin-top: 0;
      }
    }
    .add-padding {
      margin-top: 157px;
    }
  }
  div.professionals {
    max-width: 95%;
    h2 {
      margin-bottom: 4rem !important;
    }
  }
  .healthy-life {
    max-width: 100%;
    flex-direction: column;
    padding: 0 !important;
    align-items: center;
    p {
      width: 100% !important;
    }
    img {
      max-width: 100%;
      width: 300px !important;
      height: 200px !important;
    }
  }
}
