.schedule.scrollable-table {
  max-width: 100%;
  overflow: auto;
  width: 1000px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;

  tbody {
    display: block;
    overflow: scroll;
    height: 300px;
  }
  thead tr {
    display: block;
  }

  tr {
    width: auto !important;
  }

  td {
    border: none;
  }

  td:nth-child(1) {
    border-right: 1px solid black;
    width: 120px;
  }

  th,
  td {
    vertical-align: middle;
    text-align: center;
    padding: 1rem;
    width: 200px;
    font-size: 0.9rem;
  }
  td:not(:first-child):hover {
    background-color: lightslategrey;
  }

  td:not(:first-child).booked:hover {
    background-color: rgb(37, 125, 184);
  }
  .booked {
    background-color: rgb(41, 152, 226);
    font-weight: bold;
    font-size: 0.9rem;
  }
}

#popover-basic {
  z-index: 9999 !important;
}
