main {
  div.middle {
    position: relative;
  }
  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
  }
  section {
    position: absolute;
    bottom: 0;
    transform: translate(40%, 50%);
    left: 0%;
    background-color: white;
    width: 60%;
    padding: 50px;
    text-align: center;
    font-size: 1.5rem;
    p {
      text-align: start;
      line-height: 2rem;
    }
  }
}
