div h1 {
  font-family: "Nunito", sans-serif;
}
.arrow-right {
  position: absolute;
  bottom: 50%;
  right: -50px;
  animation-name: arrowMovementRight;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.arrow-left {
  position: absolute;
  bottom: 50%;
  left: -50px;
  animation-name: arrowMovementLeft;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.list-container {
  position: relative;
}

@keyframes arrowMovementLeft {
  0%,
  100% {
    left: -45px;
  }
  50% {
    left: -55px;
  }
}
@keyframes arrowMovementRight {
  0%,
  100% {
    right: -45px;
  }
  50% {
    right: -55px;
  }
}
