.individual-scrollable-table {
  width: 900px;
  max-width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  border: 0.2px solid black;
  tbody {
    display: block;
    overflow: scroll;
    width: 100%;
    max-height: 300px;
  }
  tr {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }

  td {
    border: none;
    width: 170px;
    font-size: 0.9rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  th,
  td {
    vertical-align: middle;
    text-align: center;
  }
}
