footer {
  margin-top: 50px;
  background-color: #273c48;
  color: white;
  .small-text {
    font-size: 0.9rem;
  }
  svg {
    color: white;
  }
  svg:hover {
    color: #ffcd00;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .list-unstyled {
    a {
      color: white;
      font-size: 0.9rem;
      font-family: "Nunito";
    }
    a:hover {
      color: #ffcd00;
    }
  }
}
