.login-container {
  padding: 6rem;
  padding-top: 1rem;
  width: 50%;
  form {
    button {
      margin-left: 1.5rem;
    }
    input {
      border-radius: 0;
    }
    button:hover {
      background-color: rgb(17, 85, 15) !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 100%;
    padding-top: 5rem;
    margin-top: 100px;
  }
  .login-form {
    width: 100%;
  }
}
