.report-container {
  background-color: rgb(230, 230, 230);
  .dates-container {
    p {
      font-size: 0.9rem;
    }
  }

  .btn-danger {
    background-color: rgba(189, 22, 22, 0.794) !important;
  }
  .btn-danger:hover {
    background-color: rgb(117, 33, 33) !important;
  }
}
