.clinic-card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(#273c48, 0.3);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.clinic-card:hover {
  transform: translateY(-7px);
}

.clinic-image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.clinic-image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clinic-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.clinic-address {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.book-appointments .form-label {
  font-weight: bold;
}

.book-appointments .container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
  box-shadow: 0 0 10px rgba(#273c48, 0.2);
  min-height: 400px;

  //scrollable div
  overflow: scroll;
  height: 325px;
  width: 100%;
}

.book-appointments .container.empty {
  display: flex;
  padding: 60px 0;
  box-shadow: 0 0 10px rgba(#273c48, 0.2);
  min-height: 400px;

  //scrollable div
  overflow: scroll;
  height: 325px;
  width: 100%;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.appointment-search {
  height: 10%;
  width: 30%;
  padding-left: 60px;
  padding-top: 60px;
}

@media only screen and (max-width: 1000px) {
  .clinic-card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  .book-appointments .container {
    grid-gap: 20px;
  }
  .clinic-card {
    grid-column-end: span 12;
  }
  .appointment-search {
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 500px) {
  .book-appointments .container {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .clinic-card {
    grid-column-end: span 6;
  }
}
